<head>
	<link rel="stylesheet" type="text/css" href="/style2.css">
</head>

<% if @task["status"]=="404" %>
<p>Task not found!!</p>
<% elsif %>
<form action="/<%= @task["id"] %>/put" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="The task is complete">
  <a href="/" type="button">The task is not complete</a>
</form>
<% end %>
